/* NAVBAR */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
/* End NAVBAR */

/* Other CSS */

body{
  background-color: #EDEFF4;
  font-family: 'Montserrat', sans-serif !important;
}

.featured-title{
  font-weight: 700;
}

.featured::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ffdc11;
  border-radius: 3px 0 0 0;
}

.title{
  font-weight: 700;
  font-size: 25px;
  line-height: 1em;
  margin-bottom: .2em;
  text-transform: uppercase;
  letter-spacing: -.03em;
  font-style: normal;
}

.badge{
  padding: 0.5rem 0.5rem;
}

.share{
  font-size: 16px;
}

.share a{
  text-decoration: none;
}

.icon{
  font-size: 20px;
  color: #4b4b4b;
  text-decoration: none;
  margin: auto 0.5rem;
}

.share .icon:hover{
  text-decoration: none;
  color: #1069D9 !important;
}

.bg-purple{
  background-color: #6675F6;
}

.claim-btn{
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.claim-btn:hover, .claim-btn:focus{
  background-color: #fff;
  border: 2px solid #fff;
  color: #000;
}

/* Media Query */
@media(max-width: 575.98px){
  .btn-div{
    width: auto;
  }
}

@media(max-width: 375px){
  .congo{
    font-size: 30px;
  }
}

@media(max-width: 320px){
  .icon{
  font-size: 20px;    
  }
}
